@import './styles/variables.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--font-family);
  background-color: var(--bg-color);
  color: var(--text-color);
  scroll-behavior: smooth;
  font-size: var(--font-size-base);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  width: 100%;
  overflow-x: hidden;
  line-height: 1.5;
}

a {
  color: inherit;
  text-decoration: none;
}

ul {
  list-style: none;
}

img,
video {
  max-width: 100%;
  display: block;
}

::selection {
  background: var(--accent-color);
  color: var(--text-color);
}